<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="true" />
        <staticContent>
            <!-- Mermaid diagram files -->
            <remove fileExtension=".mmd" />
            <mimeMap fileExtension=".mmd" mimeType="text/plain" />
        </staticContent>
    </system.webServer>
</configuration>
