<?xml version="1.0" encoding="utf-8"?>
<!--
  This web.config is for IIS hosting.
  IMPORTANT: Do not let dotnet publish overwrite this - we use self-contained exe, not dotnet command.
-->
<configuration>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath=".\ServerMonitorDashboard.exe" 
                  stdoutLogEnabled="true" 
                  stdoutLogFile=".\logs\stdout" 
                  hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" />
          <environmentVariable name="ASPNETCORE_URLS" value="http://localhost:8998" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>
