<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<clear />
		<add key="Microsoft SDK" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="Nuget Standard" value="https://api.nuget.org/v3/index.json" />
		<add key="Dedge" value="https://pkgs.dev.azure.com/Dedge/Dedge/_packaging/Dedge/nuget/v3/index.json" />
	</packageSources>
</configuration>