<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DefaultDatabaseInCblSet" value="FKAVDNT" />
    <add key="SrcPath" value="C:\FKAVD\NT" />
    <add key="CblCpyPath" value="C:\FKAVD\SYS\CPY" />
    <add key="StackPath" value="C:\FKM_SRC_TO" />
    <add key="ProdExecPath" value="C:\COBNT" />
    <add key="ArchivePath" value="C:\FKM_SRC_ARC" />
  </appSettings>
</configuration>